# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
azureStorage/

dist/

local.settings.json


*.log
azureStorage/__azurite_db_blob_extent__.json
package-lock.json
.env
